
{% extends 'campaigngenerator/base.html' %}

{% block content %}


<body>
<h1>Campaign Generator Command</h1>
<br>
<br>

<p style="color:red">{{ mixingt1_s_error }}</p>

<textarea id="myInput" readonly="readonly" rows="10" cols="155"> {{ create }}
</textarea>

<div class="js-copytextarea" readonly="readonly">
<button onclick="myFunction()" onmouseout="outFunc()">
  Copy Command
  </button>
</div>

<!-- The button used to copy the text -->
<script>
function myFunction() {
  document.querySelector("textarea").select();
  document.execCommand('copy');
}

</script>
</body>

{% endblock %}
